html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1A1A2E;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgb(1, 149, 186);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 2rem;
}

.navbar .nav-link {
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-left: 35px;
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6a00;
    transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.navbar .nav-link:hover {
    color: rgb(250, 132, 48);
    transform: scale(1.05);
}

.abrir-menu {
    background: transparent;
    border: none;
}

.abrir-menu .pi {
    font-size: 28px;
    color: white;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media (max-width: 768px) {
    footer .contact-title::after {
        margin-left: auto;
        margin-right: auto;
    }

    footer .url-title::after {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 820px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
    }

    .cerrar-menu {
        color: white;
        margin-bottom: 20px;
    }

    .navbar-toggler {
        display: flex !important;
        flex-direction: column;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background-color: #003f3f;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 1000;
    }

    .navbar.visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        width: 100%;
    }

    .navbar-nav .nav-link {
        color: white;
        margin-top: 10px;
    }

    .btn-light {
        margin-top: auto;
        /* Esto empuja el botón hacia abajo */
        align-items: flex-end;
    }
}

.title-name {
    color: white;
    font-size: 50px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #ff6a00;
    margin: 22px 0;
}

.button-group {
    margin: 30px 0;
}

.btn-hire,
.btn-cv {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.btn-hire {
    background-color: #ff6a00;
    color: white;
}

.btn-hire:hover {
    background-color: #e65c00;
}

.btn-cv {
    background-color: transparent;
    color: white;
    border: 1px solid #ccc;
}

.btn-cv:hover {
    background-color: #2a2a2a;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    font-size: 1rem;
}

.stats div {
    text-align: center;
    color: white;
}

.stats strong {
    font-size: 1.5rem;
    color: #ff6a00;
}

.buttons {
    background-color: #ff6a00;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 12px 19px;
}

.buttons:hover {
    background-color: #ffffff;
    color: #ff6a00;
}

.btn-light {
    margin-left: 0;
    background: transparent;
    border: none;
}

.button-about {
    background-color: #ff6a00 !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none !important;
    font-weight: bold !important;
    padding: 12px 19px !important;
}

.button-about:hover {
    background-color: #ffffff !important;
    color: #ff6a00 !important;
}

.icon-arrow {
    display: inline-flex;
    margin-left: 10px;
    animation: moveArrow 1s infinite linear;
}

.profile-wrapper {
    width: 360px;
    height: 390px;
    border-radius: 8%;
    overflow: hidden;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn-outline-orange {
    border: 1px solid #FF6A00 !important;
    color: white !important;
    background-color: transparent !important;
    padding: 12px 20px !important;
}

.btn-outline-orange:hover {
    background-color: white !important;
    color: black !important;
}

.social-icons {
    display: flex;
    gap: 18px;
}

.icon {
    background-color: #1E1E1E;
    color: #FF6A00;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 25px;
    transition: 0.3s;
    text-decoration: none;
}

.icon:hover {
    color: #FFD700;
    transform: scale(1.1);
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.container-characteristics {
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
}

.about-title {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.about-title::after {
    content: "";
    display: block;
    margin: 50px auto 0;
    width: 20%;
    height: 2px;
    background-color: #FFD700;
}

.about-text {
    max-width: 700px;
    font-size: 16px;
}

.about-image-wrapper {
    width: 400px;
    height: 400px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(255, 106, 0, 0.5);
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.about-image-wrapper:hover {
    transform: scale(1.05);
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-plus {
    padding: 9px 20px;
    background-color: #FF6A00;
    color: white;
}

.skills-grid {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 35px;
    border: 1px solid white;
}

.skill-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.skill-item:hover {
    filter: drop-shadow(0 0 5px rgba(255, 106, 0, 0.5));
    transform: scale(1.1);
}

.skill-image {
    width: 100%;
    height: 63px;
    object-fit: contain;
    margin-bottom: 10px;
}

.skill-label {
    font-weight: 600;
    text-align: center;
}

.skill-title {
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}

.titulo-caracteristicas-wrapper {
    text-align: center;
    margin-top: 70px
}

.titulo-caracteristicas {
    text-align: center;
    display: inline-block;
    margin-bottom: 90px;
    text-transform: uppercase;
    font-size: 40px;
}

.titulo-caracteristicas::after {
    content: "";
    display: block;
    margin: 60px auto 0;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
}

.intro-text {
    text-align: center;
}

.experience-title {
    text-transform: uppercase;
    margin-bottom: 70px;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
}

.description-experience {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-bottom: 70px;
}

.description-experience strong {
    color: #FF6A00;
}

.projects-page {
    padding: 26px;
    text-align: center;
}

.projects-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.projects-title::after {
    content: "";
    display: block;
    margin: 50px auto 0;
    width: 20%;
    height: 2px;
    background-color: #FFD700;
}

.projects-description {
    font-size: 17px;
    margin-bottom: 100px;
}

.chip {
    background: linear-gradient(135deg, #FF9A3D 0%, #FF6F3D 50%, #FFA64D 100%);
    border: 1px solid #FFA64D;
    color: #1A1A2E;
    font-weight: 700;
}

.buttons-card {
    display: flex !important;
    background-color: transparent !important;
    color: white !important;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 600;
    padding: 5px;
    transition: opacity 0.6s ease, transform 0.6s ease, border-bottom 0.3s ease;
}

.buttons-card:hover {
    color: #FFA64D !important;
    border-bottom: 2px solid orange !important;
    transform: translateY(-3px);
}

.button-more {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    margin: auto;
    font-size: 18px;
    padding: 15px 40px;
    border: 1px solid #FF6A00;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-more:hover {
    filter: drop-shadow(0 0 5px rgba(255, 106, 0, 0.5));
    transform: scale(1.1);
}

.page {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.page.active {
    opacity: 1;
    transform: translateY(0);
}

.text-help {
    color: white !important;
    font-size: 14px;
}

.nav-link {
    transition: all 0.3s ease;
    font-weight: 500;
}

.nav-hover:hover {
    color: #ff6a00;
    transform: translateX(5px);
}

.email-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.email-link:hover {
    color: #ff6a00;
    text-decoration: underline;
}

.icon-hover {
    color: #ff6a00;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.icon-hover:hover {
    transform: scale(1.2);
}

.btn-submit {
    position: relative;
    overflow: hidden;
    color: white;
    padding: 12px 40px;
    border: 1px solid #ff6a00;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.4s ease;
}

.btn-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* empieza sin ancho */
    background-color: #ff6a00;
    transition: width 0.4s ease;
    z-index: -1;
    /* detrás del texto */
}

.btn-submit:hover {
    color: white;
}

.btn-submit:hover::before {
    width: 100%;
}

.p-dropdown .p-dropdown-trigger-icon {
    font-size: 0.8rem !important;
    color: white !important;
}

.custom-dropdown {
    display: flex !important;
    align-items: center !important;
    margin-left: 35px;
    background-color: transparent !important;
    border: none !important;
    font-weight: 500 !important;
    box-shadow: none !important;
}

.custom-dropdown .p-dropdown-label {
    color: white !important;
    padding: 5px 0;
}

.p-dropdown-panel {
    margin-top: 8px;
    background-color: #1E1E1E !important;
    border: 1px solid #FF6A00 !important;
}

/* Estilo de cada opción */
.p-dropdown-item {
    color: white !important;
    background-color: transparent !important;
    padding: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.p-dropdown-item:hover {
    background-color: #FF6A00 !important;
    color: #1A1A2E !important;
}

.p-dropdown-item.p-highlight {
    background-color: #FF6A00 !important;
    color: #1A1A2E !important;
}

footer {
    background-color: #16162a;
    padding: 30px 0;
    min-height: 110px;
    border-top: 3px solid rgb(1, 149, 186);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

footer .description p,
footer .version p {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

footer .contact-title {
    margin-bottom: 28px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}

footer .contact-title::after {
    content: "";
    display: block;
    margin-top: 23px;
    width: 30%;
    height: 3px;
    background-color: #FFD700;
    transition: width 0.2s ease;
}

footer .url-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}

footer .url-title::after {
    content: "";
    display: block;
    margin-top: 23px;
    width: 30%;
    height: 3px;
    background-color: #FFD700;
    transition: width 0.2s ease;
}

footer .contact-title:hover::after {
    width: 60%;
}

footer .url-title:hover::after {
    width: 60%;
}

.timeline-container {
    position: relative;
    padding: 40px 0;
}

.timeline-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 90%;
    background-color: #3b82f6;
    z-index: 0;
}

.timeline-item {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.timeline-item.left {
    left: -310px;
}

.timeline-item.right {
    left: 53%;
}

.timeline-item .circle {
    position: absolute;
    top: 50px;
    width: 20px;
    height: 20px;
    background: #3b82f6;
    border: 3px solid white;
    border-radius: 50%;
}

.timeline-item.left .circle {
    right: -23px;
}

.timeline-item.right .circle {
    left: -28px;
}

.project-image-wrapper {
    transition: transform 0.3s ease;
    flex-shrink: 0;
}


.project-image-wrapper:hover {
    transform: scale(1.05);
}


@media (max-width: 990px) {
    .titulo-caracteristicas-wrapper {
        margin-top: 120px
    }

    .titulo-caracteristicas {
        font-size: 36px;
    }
}

@media (max-width: 1210px) {
    .timeline-item {
        width: 100% !important;
        max-width: 90%;
        margin: 0 auto 2rem auto;
        left: 0 !important;
        right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .timeline-item .circle {
        display: none !important;
    }
}

@media (max-width: 765px) {
    .custom-card {
        max-width: 500px;
    }

    .title-name {
        margin-top: 70px;
        font-size: 40px;
    }

    .intro-text {
        margin-bottom: 40px;
    }

    .titulo-caracteristicas {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .about-title {
        font-size: 35px;
        margin-bottom: 70px;
    }

    .about-image-wrapper {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 540px) {
    .title-name {
        margin-top: 50px;
        font-size: 35px;
    }

    .experience-title {
        margin-bottom: 50px;
        font-size: 35px;
    }

    .projects-title {
        font-size: 35px;
    }

    .projects-description {
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 50px;
    }
}

@media (max-width: 392px) {
    .about-image-wrapper {
        width: 320px;
        height: 320px;
    }

    .button-about {
        margin-bottom: 20px;
    }

    .title-name {
        margin-top: 70px;
        font-size: 30px;
    }

    .projects-title {
        font-size: 30px;
    }

    .about-title {
        font-size: 30px;
    }

    .experience-title {
        font-size: 30px;
    }

    .about-text {
        font-size: 14px;
    }

    .description-experience {
        font-size: 14px;
    }

    .skills-grid {
        width: 90%;
        padding: 20px;
    }

    .skill-image {
        width: 90%;
        height: 55px;
    }
}