html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1A1A2E;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

header {
    border-bottom: 3px solid rgb(1, 149, 186);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.navegacion .nav-item {
    margin-right: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navegacion .nav-link {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 12px;
    border-radius: 6px;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.navegacion .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6a00;
    transition: width 0.3s ease;
}

.navegacion .nav-link:hover::after {
    width: 100%;
}

.navegacion .nav-link:hover {
    color: rgb(250, 132, 48);
    transform: scale(1.05);
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 80px;
    color: white;
    min-height: 90vh;
}

.title-name {
    color: white;
    font-size: 50px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #ff6a00;
    margin: 22px 0;
}

.button-group {
    margin: 30px 0;
}

.btn-hire,
.btn-cv {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.btn-hire {
    background-color: #ff6a00;
    color: white;
}

.btn-hire:hover {
    background-color: #e65c00;
}

.btn-cv {
    background-color: transparent;
    color: white;
    border: 1px solid #ccc;
}

.btn-cv:hover {
    background-color: #2a2a2a;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    font-size: 1rem;
}

.stats div {
    text-align: center;
    color: white;
}

.stats strong {
    font-size: 1.5rem;
    color: #ff6a00;
}

.buttons {
    background-color: #ff6a00;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 12px 19px;
}

.buttons:hover {
    background-color: #ffffff;
    color: #ff6a00;
}

.button-about {
    background-color: #ff6a00 !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none !important;
    font-weight: bold !important;
    padding: 12px 19px !important;
}

.button-about:hover {
    background-color: #ffffff !important;
    color: #ff6a00 !important;
}

.icon-arrow {
    display: inline-flex;
    margin-left: 10px;
    animation: moveArrow 1s infinite linear;
}

.profile-wrapper {
    width: 360px;
    height: 390px;
    border-radius: 8%;
    overflow: hidden;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn-outline-orange {
    border: 1px solid #FF6A00 !important;
    color: white !important;
    background-color: transparent !important;
    padding: 12px 20px !important;
}

.btn-outline-orange:hover {
    background-color: white !important;
    color: black !important;
}

.social-icons {
    display: flex;
    gap: 18px;
}

.icon {
    background-color: #1E1E1E;
    color: #FF6A00;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 25px;
    transition: 0.3s;
    text-decoration: none;
}

.icon:hover {
    color: #FFD700;
    transform: scale(1.1);
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.container-characteristics {
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
}

.section-profile {
    transform: translateY(20px);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    color: white;
    line-height: 1.7;
    text-align: justify;
    gap: 5rem;
}

.about-title {
    font-size: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.about-title::after {
    content: "";
    display: block;
    margin: 50px auto 0;
    width: 20%;
    height: 2px;
    background-color: #FFD700;
}

.about-text {
    max-width: 700px;
    font-size: 1.1rem;
}

.about-image-wrapper {
    width: 400px;
    height: 400px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(255, 106, 0, 0.5);
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.about-image-wrapper:hover {
    transform: scale(1.05);
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-plus {
    padding: 9px 20px;
    background-color: #FF6A00;
    color: white;
}

.skills-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 4rem;
    padding: 30px;
    border: 1px solid white;
}

.skill-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.skill-item:hover {
    filter: drop-shadow(0 0 5px rgba(255, 106, 0, 0.5));
    transform: scale(1.1);
}

.skill-image {
    width: 100%;
    height: 63px;
    object-fit: contain;
    margin-bottom: 10px;
}

.skill-label {
    font-weight: 600;
    text-align: center;
}

.skill-title {
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}

.titulo-caracteristicas-wrapper {
    text-align: center;
    margin-top: 70px
}

.titulo-caracteristicas {
    text-align: center;
    display: inline-block;
    margin-bottom: 90px;
    text-transform: uppercase;
    font-size: 40px;
}

.titulo-caracteristicas::after {
    content: "";
    display: block;
    margin: 60px auto 0;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
}

.experience-title {
    text-transform: uppercase;
    margin-bottom: 70px;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
}

.description-experience {
    color: white;
    text-align: center;
    font-size: 17px;
    margin-bottom: 75px;
}

.description-experience strong {
    color: #FF6A00;
}

.projects-page {
    padding: 26px;
    text-align: center;
}

.projects-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.projects-title::after {
    content: "";
    display: block;
    margin: 50px auto 0;
    width: 20%;
    height: 2px;
    background-color: #FFD700;
}

.card-title {
    font-weight: 600;
    color: darkblue;
    font-size: 25px;
    text-align: left;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.projects-description {
    font-size: 17px;
    margin-bottom: 100px;
}

.tag-name {
    font-size: 11px;
    font-weight: 700;
}

.buttons-card {
    display: flex !important;
    align-items: center !important;
    background-color: #FFA64D !important;
    color: #1A1A2E !important;
    font-weight: 600;
    border: none !important;
}

.buttons-card:hover {
    transition: opacity 0.6s ease, transform 0.6s ease;
    transform: translateY(-3px);
}

.button-more {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    margin: 50px auto 30px;
    font-size: 18px;
    width: 13%;
    gap: 10px;
    border: 1px solid #FF6A00;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-more:hover {
    filter: drop-shadow(0 0 5px rgba(255, 106, 0, 0.5));
    transform: scale(1.1);
}

.page {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.page.active {
    opacity: 1;
    transform: translateY(0);
}

.text-help {
    color: white !important;
    font-size: 14px;
}

.nav-link {
    transition: all 0.3s ease;
    font-weight: 500;
}

.nav-hover:hover {
    color: #ff6a00;
    transform: translateX(5px);
}

.email-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.email-link:hover {
    color: #ff6a00;
    text-decoration: underline;
}

.icon-hover {
    color: #ff6a00;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.icon-hover:hover {
    transform: scale(1.2);
}

.btn-submit {
    position: relative;
    overflow: hidden;
    color: white;
    padding: 12px 40px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.4s ease;
}

.btn-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* empieza sin ancho */
    background-color: #ff6a00;
    transition: width 0.4s ease;
    z-index: -1;
    /* detrás del texto */
}

.btn-submit:hover {
    color: white;
}

.btn-submit:hover::before {
    width: 100%;
}

.p-dropdown .p-dropdown-trigger-icon {
    font-size: 0.8rem !important;
    color: white !important;
}

.custom-dropdown {
    background-color: transparent !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 16px !important;
    box-shadow: none !important;
}

.custom-dropdown .p-dropdown-label {
    color: white !important;
    padding: 5px 0;
}

.p-dropdown-panel {
    margin-top: 8px;
    background-color: #1E1E1E !important;
    border: 1px solid #FF6A00 !important;
}

/* Estilo de cada opción */
.p-dropdown-item {
    color: white !important;
    background-color: transparent !important;
    padding: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.p-dropdown-item:hover {
    background-color: #FF6A00 !important;
    color: #1A1A2E !important;
}

.p-dropdown-item.p-highlight {
    background-color: #FF6A00 !important;
    color: #1A1A2E !important;
}

footer {
    background-color: #16162a;
    padding: 30px 0;
    min-height: 110px;
    border-top: 3px solid rgb(1, 149, 186);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

footer .description p,
footer .version p {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

footer .contact-title {
    margin-bottom: 28px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}

footer .contact-title::after {
    content: "";
    display: block;
    margin-top: 23px;
    width: 30%;
    height: 3px;
    background-color: #FFD700;
    transition: width 0.2s ease;
}

footer .url-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}

footer .url-title::after {
    content: "";
    display: block;
    margin-top: 23px;
    width: 30%;
    height: 3px;
    background-color: #FFD700;
    transition: width 0.2s ease;
}

@media (max-width: 768px) {
    footer .contact-title::after {
        margin-left: auto;
        margin-right: auto;
    }

    footer .url-title::after {
        margin-left: auto;
        margin-right: auto;
    }
}

footer .contact-title:hover::after {
    width: 60%;
}

footer .url-title:hover::after {
    width: 60%;
}